@charset "UTF-8";

/* Estilos para TODOS */
* {
    margin: 0%;
    padding: 0%;
}

h1 , p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}