@charset "UTF-8";

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-pd);
}

/*Configurações*/
:root {
    --fonte-hd: "Barrio", system-ui;
    --fonte-pd: "Aref Ruqaa", serif;

    --cor-cdl: #fff2cb; 
}

html , body {
    background-color: var(--cor-cdl);
    min-width: 400px;
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 15px;
    font-weight: 400;
    font-family: var(--fonte-hd);
    font-size: 50px;
}

header p {
    padding-bottom: 15px ;
}
header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
  text-decoration: underline;   
}

/*Cordel Css*/
section {
    padding: 10vh 0%;
    padding-left: 2vw;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-attachment: fixed;
    
}

section > p {
    padding-bottom: 1.1em;
}

section.normal {
    background-color: var(--cor-cdl);
    
}

section.imagem {
    background-color: #faebc0;
}

section.imagem p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 4px;
    color: white;
    padding: 10px;
    
}

section#img01 {
    background-image: url("imagens/background001.jpg");    
    background-position: right center;
    background-size: cover;
    box-shadow: inset 0px 0px 10px 0px;
}

section#img02 {
    background-image: url("imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
    box-shadow: inset 0px 0px 10px 0px;
}

/*Footer*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 15px;

    
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
  text-decoration: underline;   
}