@charset "UTF-8";

/* Para todas as medias */

@media print {
    main {
        width: 50vw;
        border: 2px solid black;
    }
    
    h1 {
        color: black;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}    
}

@media screen and (min-width:768px) and (max-width:992px) {
    /* Tablets */
   body {
    background: url("../images/back-tablet.jpg") center center;
    background-size: cover;
   }

   main h1 { color: gray;}

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}   
} 

 @media screen and (min-width:992px) and (max-width:1200px) {
    /* desktops */
    body {
        background: url(../images/back-pc.jpg) center center;
        background-size: cover;
    }

    main {
        width: 75vw;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}    
 } 

 @media screen and (min-width:1200px) {
    /* bigscreens */
    body {
        background: url(../images/back-tv.jpg) center center;
        background-size: cover;
    }

    main {
        width: 80vw;
    }

    main h1 {color: gray;}

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}    
 } 
