@charset "UTF-8";

body {
            color: rgb(228, 228, 196);
        }

        h1 {
            color:rgb(70, 105, 70);
            background-color: rgb(181, 209, 183);
            text-align: center;
        }
        
        p {
            font-size: 20px;
            color: rgb(113, 153, 113);
            background-color: rgb(255, 255, 255);
            text-align: justify;
        }
        a {
            color: rgb(0, 97, 0);
        }